<div class="login-dialog">
  <button class="btn-close-c" (click)="closeDialog()">
    <img class="close-img" src="https://salt.tikicdn.com/ts/upload/fe/20/d7/6d7764292a847adcffa7251141eb4730.png"
         alt="icon">
  </button>
  <div class="login-content container">
    <div class="row">
      <div class="col-12">
        <h3 class="fw-bold text-gradient text-head-login ">Khôi phục mật khẩu</h3>
      </div>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="row">
      <div class="col-12 mt-4">
        <input type="email" class="form-control input-height" id="username" formControlName="email"
               placeholder="Email của bạn">
      </div>
      <div *ngIf="this.isSubmit then submit"></div>
      <ng-template #submit>
        <div class="col-12 mt-3" >
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Đang gửi email...</span>
          </div>
        </div>
      </ng-template>
      <div class="col-12 mt-3">
        <span class="text-success">{{this.messageSuccess}}</span>
      </div>
      <div class="col-12">
        <button type="submit" class="btn bg-gradient-info text-white shadow border-0 mt-4 w-100 p-2 border-btn-login fw-bold ">
          Gửi email xác nhận
        </button>
      </div>
      <div class="col-12 mt-3">
        <span class="text-danger">{{this.messageError}}</span>
      </div>
    </form>
    <div class="text-center row mt-4 ">
      <div class="col-12">
        <span>Bạn chưa là thành viên?<a class="text-gradient text-head-login text-decoration-none"> Đăng ký </a>tại đây</span>
      </div>
    </div>
  </div>
</div>

