.input-height{
  border-radius: 8px;
  padding: 10px 10px;
  height: auto;
}
.btn.bg-gradient-info:hover{
  transform: scale(1.02);
}
.bg-gradient-info {
  background-image: linear-gradient(
      310deg
    , #ff7f00 0%, #ffaa56 100%);
}

.border-btn-login{
  border-radius: 7px;
}
.text-head-login{
  background-image: linear-gradient(310deg, #ff7f00, #ffaa56)
}
.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;

}

