<div class="container">
  <div class="row">
    <div class="col-sm-5 col-xs-12 mx-auto">
      <div class="card my-5">
        <div class="card-body">
          <h3 class="card-title text-center text-head-login text-gradient fw-bold">Cài lại mật khẩu</h3>
          <p class="text-success">{{this.messageSuccess}}</p>
          <div *ngIf="isExpiredCode then valid else invalid"></div>
          <ng-template #valid>
            <form class="form-signin row" [formGroup]="resetForm" (ngSubmit)="onSubmitt()">
              <div class="col-12">
                <div class="form-label-group mb-3">

                  <input formControlName="newPassword" type="password" class="form-control input-height"
                         placeholder="Mật khẩu mới">
                  <div class="mt-2">
                    <small *ngIf="resetForm.get('newPassword').touched && resetForm.get('newPassword').errors?.required"
                           class="text-danger fst-italic">Mật khẩu không được để trống!</small>
                    <small *ngIf="resetForm.get('newPassword').dirty && resetForm.get('newPassword').errors?.pattern"
                           class="text-danger fst-italic">Mật khẩu phải chứa ít nhất một chữ thường, một chữ hoa, số, dài từ 8 đến 12 ký tự!</small>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-label-group mb-3">
                  <input formControlName="reNewPassword" type="password" class="form-control input-height"
                         placeholder="Nhập lại mật khẩu mới">
                  <div class="mt-2">
                    <small *ngIf="resetForm.get('reNewPassword').touched && resetForm.get('reNewPassword').errors?.required"
                           class="text-danger fst-italic">Nhập lại mật khẩu không được để trống!</small>
                    <small *ngIf="resetForm.get('reNewPassword').dirty && resetForm.errors?.checkpasswordandrepassword"
                           class="text-danger fst-italic">Nhập lại mật khẩu phải giống mật khẩu!</small>
                    <small class="text-danger fst-italic">{{this.messageError}}</small>
                  </div>
                </div>
              </div>
              <div class="col-12 text-end" >
                <button class="btn bg-gradient-info border-btn-login text-white" type="submit" [disabled]="resetForm.invalid">Cài lại mật khẩu</button>
              </div>
            </form>
          </ng-template>
          <ng-template #invalid>
            <div class="alert alert-danger" role="alert">
              Đường dẫn thay đổi mật khẩu không đúng hoặc mã kích hoạt đã hết hạn, vui lòng kiểm tra lại hoặc
              liên hệ với chúng tôi để được trợ giúp.
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>


