<nav id="sidebar">
  <div class="img bg-wrap text-center py-4" style="background-image: url(../../assets/img/bg_1.jpg);">
    <div class="user-logo">
      <div class="img" style="background-image: url(../../assets/img/furama-da-nang.jpg);"></div>
      <h3>Furama Resort Da Nang</h3>
    </div>
  </div>
  <ul class="list-unstyled components mb-5">
    <li class="text-dark" routerLinkActive="active">
      <a [routerLink]="['/employee/list']" ><span class="fa fa-home mr-3"></span > Employee</a>
    </li>
    <li>
      <a href="#"><span class="fa fa-gift mr-3"></span> Customer</a>
    </li>
    <li>
      <a href="#"><span class="fa fa-trophy mr-3"></span>Facility</a>
    </li>
    <li>
      <a href="#"><span class="fa fa-cog mr-3"></span>Contract</a>
    </li>
  </ul>
</nav>
