<main class="col-md-12 ms-sm-auto col-lg-12 px-md-4 ">
  <div class="row">
    <div class="container py-4">
      <!--    <div class="row justify-content-center">-->
      <div class="col-12 mt-5">
<!--        <div class=" col-3">-->
<!--          <button class="btn btn btn-secondary fw-bold ms-3 mt-3 mb-3" [routerLink]="['/home']">Trở về</button>-->
<!--        </div>-->
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Chỉnh sửa mật khẩu</h6>
            <p class="text-success"></p>
          </div>
          <form class="row g-3 needs-validation m-3" method="post" [formGroup]="appUserForm" (ngSubmit)="updatePassword()">
            <div class="col-md-12 position-relative">
              <label for="name" class="form-label">Tên đăng nhập<span
                style="color: red">(*)</span></label>
              <input type="text" class="form-control" id="name" name="name" formControlName="usernameChange" readonly="readonly">
              <small style="color: red"
                     *ngIf="appUserForm.controls.usernameChange.dirty &&appUserForm.controls.usernameChange.hasError('required')">
                không được để trống.</small>
            </div>
            <!--            <div class="col-md-6 position-relative">-->
            <div class="col-md-5 position-relative">
              <label for="password" class="form-label">Mật khẩu cũ<span
                style="color: red">(*)</span></label>
              <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Có 1 chữ hoa, 1 thường,1 số. Không có ký tự đặc biệt">
              <small style="color: red"
                     *ngIf="appUserForm.controls.password.dirty &&appUserForm.controls.password.hasError('required')">Mật khẩu
                không được để trống.</small>
              <small style="color: red"
                     *ngIf="appUserForm.controls.password.dirty &&appUserForm.controls.password.hasError('pattern')">Có 1 chữ hoa, 1 thường,1 số.
                Không có ký tự đặc biệt.</small>
            </div>
            <div class="col-md-3 col-sm-3 position-relative">
              <label for="area" class="form-label">Mật khẩu mới<span
                style="color: red">(*)</span></label>
              <input type="password" class="form-control" id="area" name="newPassword" formControlName="newPassword">
              <small style="color: red"
                     *ngIf="appUserForm.controls.newPassword.dirty &&appUserForm.controls. newPassword.hasError('required')">Mật khẩu mới không được để
                trống.</small><br>
              <small style="color: red"
                     *ngIf="appUserForm.controls.newPassword.dirty &&appUserForm.controls. newPassword.hasError('pattern')">Có 1 chữ hoa, 1 thường,1 số.
                Không có ký tự đặc biệt.
              </small><br>

            </div>
            <div class="col-md-3 col-sm-3 position-relative">
              <label for="price" class="form-label">Xác thực mật khẩu<span
                style="color: red">(*)</span></label>
              <input type="password" class="form-control" id="price" name="reNewPassword" formControlName="reNewPassword">
              <span style="color: red"
                    *ngIf="appUserForm.controls.reNewPassword.dirty &&appUserForm.controls. reNewPassword.hasError('required')">
                Mật khẩu xác thực phải đúng định dạng và mật khẩu mới
              </span> <br>
              <span style="color: red"
                    *ngIf="appUserForm.controls.reNewPassword.dirty &&appUserForm.errors?.checkpasswordandrepassword">Mật khẩu xác thực
                không giống mật khẩu mới.</span>
            </div>
            <div class=" btn-toolbar mb-3 d-flex flex-row-reverse bd-highlight" role="toolbar"
                 aria-label="Toolbar with button groups">
              <div class="btn-group me-2">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Modal"
                        [disabled]="appUserForm.invalid">Lưu
                </button>
              </div>
              <div class="btn-group me-2">
                <button class="btn btn-secondary" (click)="onClick()" >Hủy</button>
              </div>
            </div>
            <span [class.alert-danger]="message" (message)="message" [textContent]="message">{{'message'}}</span>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn cập nhập?
      </div>
      <div class="modal-footer">
        <!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Đóng</button>-->
        <button type="button" class="btn btn-primary" (click)="updatePassword()" data-bs-dismiss="modal">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
